<form class="form relative xl:w-[443px]" autocomplete="off">
  <label for="email">
    <input
      class="form__input w-full rounded-3xl text-15 opacity-50 shadow-xl pl-26.5 pr-[175px] h-btn mb-4 md:mb-0 font-public font-bold outline outline-0 focus:outline-1 focus:outline-sc1 focus:placeholder-transparent"
      type="email" id="email" placeholder="Enter email address">
  </label>
  <button class="primary-btn w-full md:w-btn_md h-btn rounded-3xl md:absolute md:right-[-7px]" type="submit">
    <a class="font-public text-15 text-pc2 tracking-200 font-bold" href="/"> Schedule a Demo </a>
  </button>
</form>