<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> PayAPI </title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/bg-images.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/animate.css/animate.min.css">
  <link rel="stylesheet" href="aos/dist/aos.css">
</head>

<body id="body-js" class="overflow-fix bg-img-3 pt-10 max-w-full min-w-[334px]">