$primary-color-1: rgba(186, 66, 112);
$primary-color-2: rgba(251, 252, 254);

$secondary-color-1: rgba(54, 83, 107);
$secondary-color-2: rgba(27, 38, 47);
$secondary-color-3: rgba(218, 109, 151);
$secondary-color-4: rgba(108, 130, 148);


$pc-1-opacity-9: rgba(186, 66, 112, 0.9);


$sc1-op-5: rgba(54, 83, 107, 0.2);

$sc2-op-5:rgba(27, 38, 47, 1);